.cart_card
    position relative
    margin-top 3vh
    width 100%
    height: 14.2vh
    border-radius: 1vh
    background: rgba(255, 255, 255, 1)
    display: flex
    padding: 1.7vh 2.2vw 1.7vh 1.5vw
    box-sizing: border-box
    align-items: center
    justify-content: space-between
.cart_card .cart_card_img
    height: 100%
.cancel_cart_card
    cursor pointer
    position: absolute
    right: 0.5vw
    top 1vh
.item_name
    display: flex
    justify-content: center
    flex-direction: column
    gap: 1vh
.i_name
    width 15vw
    margin 0
    font-family: Jura;
    font-size: 2.2vh;
    font-weight: 400;
.i_articul
    margin 0
    font-family: Inter;
    font-size: 1.4vh;
    font-weight: 400;
    color: rgba(113, 113, 113, 1)
.p_c_counter
    height: 7vh
    width 8.3vw
    display: flex
    justify-content: space-around
    align-items: center
    overflow: hidden
    background: rgba(235, 235, 235, 1)
    border-radius: 1vh
.c_price
    font-family: Jura;
    font-size: 2.4vh;
    font-weight: 500;
    width 3vw

