.main
    padding: 4vh 4vw 0 4vw
    box-sizing: border-box
    background: rgba(243, 243, 243, 1)
.carousel_block
    height: 70vh
    width: 100%
    background: rgba(217, 217, 217, 1)
    position: relative
    overflow: hidden
.img_banner
    width 100%
.gradient
    position: absolute
    left 0
    top 0
    width: 100%
    height: 100%
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%);
.banner_heading
    margin-top 40vh
    margin-left 4vw
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-size: 5.2vh;
    font-weight: 700;
    color rgba(255, 255, 255, 1)
.banner_heading span
    font-family: Jura;
    font-size: 4vh;
    font-weight: 400;
    color rgba(255, 255, 255, 1)


.category_field
    margin 4vh 0 0 0
    display: flex
    justify-content: space-around
    align-items: center
    width: 36vw
    height: 6.8vh
    background: rgba(229, 252, 240, 1)
    border-radius: 0.5vh

.sort
    display: flex
    justify-content: center
    align-items: center
    cursor pointer
    width 100%
    height: 100%
    font-family: Jura;
    font-size: 2.2vh;
    font-weight: 400;
    color rgba(0, 0, 0, 1)
    border-radius: 0.5vh
    transition: 0.3s ease
.sort:hover
    background: rgba(133, 212, 169, 1)




.product_block {
    margin: 6vh 0 0 0;
    flex-wrap: wrap;
    gap: 3.2vh;
    display: flex;
    width: 100%;
    position: relative;
}


.update_img
    display: flex
    justify-content: center
    align-items: center
    width 4vh
    height: 4vh 
    border-radius: 50%
    border: 0.2vh black solid 

.action_btn_con
    width: 100%
    display: flex
    justify-content: center
    margin 5vh 0 0 0
.action_btn
    display: flex
    justify-content: center
    align-items: center
    height: 5vh
    width: 17vw
.action_btn p
    cursor: pointer
    font-family: Rubik;
    font-size: 2.2vh;
    font-weight: 500;
    text-align: left;
    color rgba(40, 208, 117, 1)

.news_block
    margin 4vh 0 0 0
    width 100%
    display: flex
    justify-content: space-between
.news
    background: rgba(217, 217, 217, 1)
    height: 48vh
    width: 29vw
.big_block
    margin 4vh 0 8vh 0
    width 100%
    height: 48vh
    background: rgba(217, 217, 217, 1)
.post_heading
    width 100%
    text-align: center
.post_heading p
    font-family: Jura;
    font-size: 2.4vh;
    font-weight: 700;
