.catalog_page
    background: rgba(243, 243, 243, 1)
    width 100%
    padding: 2vh 0 0 0
    box-sizing: border-box
.catalog_title
    margin 0
    font-family: Jura;
    font-size: 3vh;
    font-weight: 700;
    text-align: center;
    color rgba(0, 0, 0, 1)
    width 100%
    display: flex
    justify-content: center
    align-items: center
.catalog_con
    padding: 5vh 3vw 6vh 3vw
    box-sizing: border-box
    display: flex
    align-items: center
    flex-wrap: wrap
    gap 3.77vh
    
