.about_product
    display: flex
    gap 1.9vh
.product_view
    background: rgba(217, 217, 217, 1)
    width 55vw
    height: 82vh
.single_product_page
    padding: 5vh 3.6vw
    box-sizing: border-box
.product_name
    background: rgba(194, 194, 194, 1)
    width 36vw
    height: 8.7vh
    margin-bottom: 7vh
.product_info
    display: flex
    justify-content: space-between
    flex-direction: column
.short_description
    background: rgba(217, 217, 217, 1)
    width 36vw
    height: 5vh
    margin 2.5vh 0 0 0
.order_btn
    background: rgba(217, 217, 217, 1)
    width 17.2vw
    height: 8.7vh
.bot_bot
    margin-top 4vh
    display: flex
    gap: 1.2vw
.cart_s_p
    background: rgba(217, 217, 217, 1)
    width 12vw
    height: 8.7vh
.counter
    background: rgba(217, 217, 217, 1)
    width 4vw
    height: 8.7vh
.about_heading
    background: rgba(217, 217, 217, 1)
    width 38.8vw
    height: 9vh
    margin-top 7vh
.smth_3
    background: rgba(195, 195, 195, 1)
    height: 9vh
    width 9.6vw
.about_section
    margin-top 6vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap 2.5vh
    width 100%
.about
    background: rgba(194, 194, 194, 1)
    width 80vw
    height: 5vh
.n_block
    margin-top 6vh
    display: flex
    flex-direction: column
    width 100%
    justify-content: center
    align-items: center
    gap 2.5vh
.n
    background: rgba(217, 217, 217, 1)
    width 55vw
    height: 25vh
