.breadcrumb {
    list-style: none;
    display: flex;
    align-items: center
    background: red
    margin 0
    height: 3.2vh
    background: rgba(133, 212, 169, 1)
    font-family: Rubik;
    font-size: 1.5vh;
    font-weight: 500;
    padding: 0
    width 100%

}





.active_link
    text-decoration: none
    color rgba(0, 0, 0, 1)
    width 100%
    display: flex
    align-items: center
    justify-content: center
    margin-left 1vw


.prev_link
    display: flex
    align-items: center
    background: rgba(55, 55, 55, 1)
    height: 100%
    width 6vw
    justify-content: center
.prev
    color: white
    text-decoration: none
.prev_link:nth-last-child(-n+2)
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
